body {
  background: #7591cc;
  padding: 10px;
}

form input[type="text"] {
  border: 2px solid #45c5bf;
  border-radius: 5px;
  padding: 5px;
  width: 76%;
  margin: 15px 0;
}
form input[type="submit"] {
  background: #45c5bf;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 5px;
  width: 19%;
}
.chatPlace {
  background: #fff;
  border: 2px solid #45c5bf;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-line;
  color: rgb(40, 184, 110);
  padding: 15px;
  

}
