body {
  background: #7591cc;
  padding: 0;
  margin: 0;
}

form input[type="text"] {
  border: 2px solid #45c5bf;
  border-radius: 5px;
  padding: 5px;
  width: 76%;
  margin: 15px 0;
}
form input[type="submit"] {
  background: #45c5bf;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 5px;
  width: 19%;
}
.chatPlace {
  background: #fff;
  border: 2px solid #45c5bf;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-line;
  color: rgb(40, 184, 110);
  padding: 15px;
}

.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginFormat {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: grid;
  grid-template-areas: 
  "inputLogin"
  "loginButtons";
  
}
.inputLogin {
  grid-area: inputLogin;
  display: flex;
}

.loginButtons {
  grid-area: loginButtons;
  display: flex;
}
