body {
  background: #7591cc;
  padding: 0;
  margin: 0;
  align-items: center;
}

form input[type="text"] {
  border-radius: 5px;
  padding: 5px;
  width: 76%;
  margin: 15px 0;
}
form input[type="submit"] {
  background: #45c5bf;
  border: none;
  border-radius: 5px;
  color: rgb(38, 212, 232);
  cursor: pointer;
  font-weight: bold;
  padding: 8px 5px;
  width: 19%;
}
.chatPlace {
  background: #fff;
  border: 2px solid #45c5bf;
  height: 450px;
  white-space: pre-line;
  color: rgb(8, 12, 10);
  padding: 15px;
}

.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginFormat {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: grid;
  grid-template-areas:
    "loginLogo"
    "inputLogin"
    "loginButtons";
}
.inputLogin {
  grid-area: inputLogin;
}

.loginButtons {
  grid-area: loginButtons;
  display: flex;
  justify-content: center;
  margin: 12px 0px 12px;
}

.loginLogo {
  grid-area: loginLogo;
  display: flex;
  justify-content: center;
  padding: 1vh;
  margin: 1vh;
  border: 12px;
  height: 24vh;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.principal {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.register {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.ROOT_CSS {
  position: relative;
  height: 450px;
  width: 400;
}
.externMsg {
  width: 100%;
  margin: 2px;
}
.myMsg {
  width: 100%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
